.body {
  position: relative;
  top: 0;
  margin-left: 5rem;
  width: calc(100% - 5rem);
  height: 100vh;
  z-index: 0;
  transition: all .5s ease;
  background: #f4f7fa;
  padding: 3rem;
}

.body-trimmed {
  margin-left: 16.5rem;
  width: calc(100% - 16.5rem);
}

.body-md-screen {
  margin-left: 5rem;
  width: calc(100% - 5rem);
}
