<div
  class="sidenav"
  [ngClass]="collapsed ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <button
      class="logo"
      (click)="toggleCollapse()"
    >A
    </button>
    <div
      @fadeInOut
      *ngIf="collapsed"
      class="logo-text"
    >Sandbox
    </div>
    <button
      @rotate
      *ngIf="collapsed"
      class="btn-close"
      (click)="closeSidebar()"
    >
      <i class="fa fa-times close-icon"></i>
    </button>
  </div>
  <div class="scrollwrap scrollwrap_delayed">
    <ul class="sidenav-nav">
      <li
        *ngFor="let data of navData"
        class="sidenav-item"
      >
        <a
          *ngIf="data.items && data.items.length > 0"
          class="sidenav-nav-link"
          [class.active]="router.url.includes(data.routerLink)"
          (click)="handleClick(data)"
        >
          <i
            class="sidenav-link-icon"
            [class]="data.icon"
          ></i>
          <span
            @fadeInOut
            *ngIf="collapsed"
            class="sidenav-link-text"
          >{{ data.label }}</span>
          <i
            *ngIf="data.items && collapsed"
            class="menu-collapse-icon"
            [ngClass]="!data.expanded ? 'fa fa-angle-right' : 'fa fa-angle-down'"
          ></i>
        </a>
        <a
          *ngIf="!data.items || (data.items && data.items.length === 0)"
          class="sidenav-nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="data.routerLink"
          (click)="shrinkItem(data)"
        >
          <i
            class="sidenav-link-icon"
            [class]="data.icon"
          ></i>
          <span
            @fadeInOut
            *ngIf="collapsed"
            class="sidenav-link-text"
          >{{ data.label }}</span>
        </a>

        <div *ngIf="collapsed && data.items && data.items.length > 0">
          <app-sublevel-menu
            [data]="data"
            [multiple]="multiple"
            [collapsed]="collapsed"
            [expanded]="data.expanded"
          ></app-sublevel-menu>
        </div>
      </li>
    </ul>
  </div>
</div>
